<footer>
  <section class="footer-top">
    <div class="wrapper wrapper--flex wrapper--tablet">
      <div class="footer-top-description">
        <h2><span>Фоно</span>фактура</h2>
        <p>Магазин музыкальных инструментов</p>
        <ul class="advantages-list">
          <li> Большой выбор музыкальных инструментов</li>
          <li> Бесплатная доставка в 200 городов России </li>
          <li> Покупка в рассрочку 0/0/24</li>
        </ul>
        <a href="#" class="market-button">Перейти в магазин</a>
      </div>
      <div class="footer-top-picture">
        <img src="./img/footer-background.png" alt="footer-pic">
      </div>
    </div>
  </section>

  <section class="footer-bottom">

    <div class="footer-nav">
      <div class="wrapper">
        <nav>
          <ul class="footer-main-nav">
            <li><a href="#">Музыканты</a></li>
            <li><a href="#">Аранжировки</a></li>
            <li><a href="#">Жанры</a></li>
            <li><a href="#">Нотные наборы</a></li>
          </ul>
        </nav>

        <div class="footer-right-block">
          <div class="custom-nav">
            <a href="#" class="note-order-link--footer">Заказать ноты</a>
            <a href="#" class="market-link--footer">Магазин музыкальных инструментов</a>
          </div>
          <ul class="footer-social-link">
            <li>
              <a href="#" class="footer-link-facebook"></a>
            </li>
            <li>
              <a href="#" class="footer-link-vk"></a>
            </li>
            <li>
              <a href="#" class="footer-link-twiter"></a>
            </li>
            <li>
              <a href="#" class="footer-link-youtube"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright wrapper">
      <h3>Notestore</h3>
      <p>© 2017 Notestore.com. Все права защищены.</p>
      <p class="copyright-politics">   Политика в отношении обработки персональных данных</p>
    </div>
  </section>
 <!-- =include navMenu.html -->
</footer>
</div>

  <script src="./libs/jqerry.js"></script>
  <script src="./libs/slick/slick.min.js"></script>
  <script src="./libs/JQUI/jquery-ui.js"></script>
  <script src="./libs/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
  <script src="./js/script.js"></script>
  </body>

  </html>