<main>
  <section class="main-slider">
    <a href="#"><img src="./img/main-slider_1.jpg" alt="1"></a>
    <a href="#"><img src="./img/main-slider_2.jpg" alt="2"></a>
    <a href="#"><img src="./img/main-slider_1.jpg" alt="4"></a>
    <a href="#"><img src="./img/main-slider_2.jpg" alt="5"></a>
    <a href="#"><img src="./img/main-slider_3.jpg" alt="3"></a>
  </section>

  <section class="music-sets-slider wrapper">
    <h2>Нотные наборы</h2>
    <div class="slick-slider-notes">
      <div class="note-card">
        <div class="image-block">
          <img src="./img/music sets_1.jpg" alt="pic">
        </div>
        <div class="note-card-text">
          <span class="note-card-title">Классика 18 века для скрипки</span>
          <span class="image-block-price">1 356 руб.</span>
        </div>
      </div>

      <div class="note-card">
        <div class="image-block">
          <img src="./img/music sets_2.jpg" alt="pic">
        </div>
        <div class="note-card-text">
          <span class="note-card-title">Фортепиано для чинающих</span>
          <span class="image-block-price free">Бесплатно</span>
        </div>
      </div>

      <div class="note-card">
        <div class="image-block">
          <img src="./img/music sets_3.jpg" alt="pic">
        </div>
        <div class="note-card-text">
          <span class="note-card-title">Народная музыка России</span>
          <span class="image-block-price">980 руб.</span>
        </div>
      </div>

      <div class="note-card">
        <div class="image-block">
          <img src="./img/music sets_4.jpg" alt="pic">
        </div>
        <div class="note-card-text">
          <span class="note-card-title">Лучшие кантри ноты для банджо</span>
          <span class="image-block-price">1 705 руб.</span>
        </div>
      </div>

      <div class="note-card">
        <div class="image-block">
          <img src="./img/music sets_1.jpg" alt="pic">
        </div>
        <div class="note-card-text">
          <span class="note-card-title">Классика 18 века для скрипки</span>
          <span class="image-block-price">1 356 руб.</span>
        </div>
      </div>
    </div>
  </section>

  <section class="notes-list wrapper">
    <div class="popular-notes">
      <h2>Популярные ноты</h2>
      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

    </div>

    <div class="new-notes">
      <h2>Новые поступления</h2>
      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

      <div class="product-card">
        <img src="#" alt="img">
        <div class="description-block">
          <p class="product-name">
            Michael Giacchino - Theme (from "Spider Man") Original
            Television Series, 2016
          </p>
          <p class="product-instrument"> Вокал и пианино</p>
          <p class="product-price free">Бесплатно</p>
        </div>
      </div>

    </div>

  </section>

</main>