<div class="service-menu">
  <ol>
    <li><a href="index.html">Index</a></li>
    <li><a href="musicians.html">Музыканты</a></li>
    <li><a href="arrangement.html">Аранжировки</a></li>
    <li><a href="genre.html">Жанры</a></li>
    <li><a href="musicset.html">Нотные наборы</a></li>
    <li><a href="order.html">Заказать ноты</a></li>
    <li><a href="artist.html">Карточка артиста</a></li>
    <li><a href="musicset-card.html">Карточка нотного набора</a></li>
    <li><a href="product-card.html">Карточка товара</a></li>
  </ol>
  <button class="service-close-button" onclick="$(this).parent().hide()">Close X</button>
  <style>
    .service-menu {
      position: fixed;
      z-index: 5;
      bottom: 1px;
      right: 1px;
      border: 1px solid #000000;
      padding: 15px 10px 5px 10px;
      background-color: #ffffff;
    }
  
    .service-close-button {
      position: fixed;
      bottom: 169px;
      right: 1px;
    }
  </style>
</div>
