.selection-button--main{
  position: relative;
  align-items: center;
  position: relative;
  width: 356px;
  height: 42px;
  padding-left: 14px;
  text-align: left;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.selection-button--main:after {
  position: absolute;
  content: "";
  width: 11px;
  height: 5px;
  top: 17px;
  right: 14px;
  background: url(../img/select-arrow.png) no-repeat;
}

.arrangement,
.genre{
  margin-bottom: 0;
}

.arrangement .rezult-item,
.genre .rezult-item{
  margin-bottom: 42px;
  min-height: 305px;
}

.arrangement .rezult-item:nth-last-child(-n+4),
.genre .rezult-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.arrangement .rezult-description,
.genre .rezult-description{
  width: 185px;
}

.arrangement .product-instrument,
.genre .product-instrument{
  margin-top: 0;
  margin-bottom: 10px;
}

.arrangement .product-price,
.genre .product-price{
  margin-top: 11px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #191919;
}

.arrangement .product-price.free,
.genre .product-price.free{
  color: #94c304; 
}

@media screen and (max-width: 850px){
  .selection-button--main{
    width: 100%;
  }

  .arrangement,
  .genre {
    margin-bottom: 10px;
  }

  .arrangement .rezult-item,
  .genre .rezult-item {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 510px){
  .arrangement{
    padding-top: 40px;
    margin-bottom: 0;
  }

  .arrangement .wrapper,
  .genre .wrapper{
    display: flex;
    flex-direction: column;
  }

  .arrangement .rezult-item,
  .genre .rezult-item{
    flex-direction: row;
    min-height: auto;
  }

  .arrangement .rezult-description,
  .genre .rezult-description{
    margin-left: 21px;
  }

  .arrangement .rezult-description,
  .genre .rezult-description{
    width: auto;
  }

  .arrangement .rezult-img-wrapper,
  .genre .rezult-img-wrapper {
    margin-bottom: 0;
  }

  .arrangement .rezult-item:nth-last-child(-n+4),
  .genre .rezult-item:nth-last-child(-n+4) {
    margin-bottom: 28px;
  }
}

