.portal-nav--desktop-artist{
  border-bottom: 1px solid #ebebeb;
}

.breadcrumbs--artist{ 
  padding-top: 29px;
}

.artist-card{
  padding-top: 3px;
  font-family: Roboto, sans-serif;

  &__title{
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
  }
   
  &__content{
    display: flex;
    background-color: #f6f6f6;
  }

  &__text-button{
    display: none;
  }

  &__text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px 75px 50px 79px;
    font-size: 15px;
    line-height: 26px;

    & p{
      color: #313131;
    }

    & span{
      font-weight: 400;
      color: #000000;
    }

    & a{
      color: #5897c4;
      text-decoration: none;
    }
  } 
}

.artist-note{
  font-family: Roboto, sans-serif;
  padding-bottom: 40px;
}

.artist-note .wrapper{
  padding-top: 10px;
}

.note__title{
  padding-top: 9px;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
}

.artist-note .sort-rezult-button-wrapper{
  display: none;
}

.note__sorting button{
  margin-right: 25px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0px;
  font-size: 15px;
  line-height: 26px;
  color: #5897c4;
  border: none;
  border-bottom: 1px dashed #5897c4;
  background-color: #ffffff;
  cursor: pointer;
}

.note__sorting button.current{
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 11px;
  border: none;
  color: #ffffff;
  background-color: #ed2c5b;
  border-radius: 2px;
  pointer-events: none;
}
 
.button-more{
  display: none;
}

.double__slider{
  margin-top: 40px;

  & .slick-dots {
    width: 100px;
    bottom: -30px;
  }
}

.double__slide{
  display: flex;
  flex-direction: column;
  margin-right: 160px;
  outline: none;
  
  & .rezult-item:first-child{
    margin-bottom: 22px;
  }
   
  & .rezult-item{
    float: none;
    min-height: 287px;
  }

  & .rezult-img-wrapper {
    width: 185px;
    margin-bottom: 18px;
  }

  & .rezult-description{
    width: 185px;
  }

  & .product-instrument {
    margin-top: 1px;
  }

  & .product-price{
    margin-top: 14px;
    font-weight: 600;
    color: #191919;
  }

  & .product-price.free{
    color: #94c304;
  }
}

.similar{
  background-color: #363636;
  font-family: Roboto, sans-serif;

  & .wrapper{
    padding-top: 20px;
    padding-bottom: 49px;
  }

  &__title{
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
  }

  & .slick-dots{
    left: -5px;
    bottom: -37px;
    width: 100px;
  }
}

.similar,
.double__slider{
  & .slick-next,
  & .slick-prev {
    width: 32px;
    height: 32px;
    top: -36px;
    border: 1px solid #cacaca;
    border-radius: 20px;
  }

  & .slick-next{
    right: 0;
  }

  & .slick-prev{
    left: auto;
    right:40px;
  }

  & .slick-next:before,
  & .slick-prev:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 8px;
    width: 14px;
    height: 11px;
  }

  & .slick-next:before {
    background: url(../img/slick-grey-right.png) no-repeat;
  }

  & .slick-prev:before {
    background: url(../img/slick-grey-left.png) no-repeat;
  }  
}

.double__slider{
  & .slick-next,
  & .slick-prev {
    top: -56px;
  }
}

.artist-slide{
  margin-right: 160px;
  
  &__image{
    margin-bottom: 15px;
  }

  &__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #5897c4;
    text-decoration: none;
  }
}

@media screen and (max-width: 1000px) {
  .header--artist{
    border-bottom: 1px solid #ebebeb;
  }

  .wrapper--artist{
    padding-left: 25px;
    padding-right: 25px;
  }

  .artist-card{

    &__content{
      flex-direction: column;
      padding-top: 30px;
    }

    &__img{
      align-self: center;
    }

    &__text{
      padding: 14px 89px 26px 60px;
    }

    &__text p{
      position: relative;
      height: 82px;
      overflow: hidden;
    }

    &__text .open-full-text{
      height: 100%;
      overflow: visible;
    }

    &__text-button{
      position: absolute;
      display: block;
      top: 81px;
      right: 79px;
      padding-right: 151px;
      border: none;
      background-color: #f6f6f6;
      font-family: Roboto,sans-serif;
      font-size: 15px;
      line-height: 26px;
      color: #5897c4;
      cursor: pointer;
    }
  }  
  
  p.open-full-text + .artist-card__text-button{
    top: auto;
    bottom: 26px;
    padding-right: 0px;
  }
   
  .note__sorting{
    display: none;
  }

  .artist-note .sort-rezult-button-wrapper{
    display: block;
    width: 192px;
  }

  .artist-note.wrapper,
  .wrapper--similar{
    padding-left: 60px;
    padding-right: 60px;
  }

  .double__slider{
    margin-top: 30px;
  }

  .double__slide .rezult-item:first-child{
    margin-bottom: 33px;
  }

  .artist-card.wrapper{
    padding-left: 0;
    padding-right: 0;
  }

  .artist-card__title{
    padding-left: 25px;
  }

  .product-instrument {
    margin-bottom: 9px;
  }

  .double__slide .rezult-item {
    min-height: 272px;
  }

  .double__slide .product-price{
    margin-top: 9px;
    margin-bottom: 0;
  }

  .similar__title {
    font-family: RobotoSlab;
  }
}

@media screen and (max-width: 765px){
  .artist-note.wrapper,
  .wrapper--similar{
    padding-left: 25px;
    padding-right: 25px;
  }
} 

@media screen and (max-width: 510px) {
  
  .double__slider .rezult-img-wrapper img {
    width: 185px;
    height: 172px;
  }
}

@media screen and (max-width: 450px) {
 
  .artist-card {

    &__img img{
      width: 274px;
    }

    &__text{
      padding-top: 3px;
    }

    &__text p{
      height: 188px;
      padding-right: 10px;
    }
  }  

  .double__slider {
    
    & .rezult-item{
      flex-direction: row;
    }

    & .rezult-description{
      margin-left: 23px;
    }
  } 

  .double__slide:nth-child(n+4){
    display: none;
  }

  .artist-card__text{
    width: 275px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .artist-card__text-button {
    top: 199px;
    left: -6px;
    right: auto;
    padding-right: 0;
  }

  .artist-card__text span{
    margin-top: 20px;
  }

  .double__slider .rezult-img-wrapper{
    width: 102px;
  }

  .double__slider .rezult-img-wrapper img {
    width: 102px;
    height: auto;
  }

  .double__slide{
    margin-right: 0;
  }

  .double__slide .rezult-item,
  .double__slide .rezult-item:first-child {
    margin-bottom: 6px;
  }

  .double__slide .rezult-item {
    min-height: 95px;
    margin-bottom: 6px;
  }

  p.open-full-text + .artist-card__text-button{
    top: auto;
    bottom: 64px;
    padding-right: 0px;
  }

  .button-more{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 22px;
    font-size: 14px;
    line-height: 28px;
    color: #363636;
    border: none;
    background: #d9d9d9;
  }

  .button-more:after{
    position: absolute;
    content: "";
    top: 47%;
    left: 64%;
    width: 15px;
    height: 10px;
    background: #d9d9d9 url('../img/see-more-button.png') no-repeat;
  }

  .button-more.detailed:after{
    top: 38%;
    left: 58%;
    transform: rotate(180deg);
  }
  
  .artist-note {
    padding-bottom: 7px;
  }

  .similar .wrapper {
    padding-top: 17px;
  }

  .similar__title {
    text-align: center;
  }

  .similar .slick-prev,
  .similar .slick-next{
    top: 85px;
  }

  .similar .slick-prev{
    left: -1px;
    right: auto;
  }

  .similar .slick-next{
    right: -1px;
  }

  .similar__slider .slick-list{
    width: 185px;
    margin: 0 auto;
  }

  .similar .slick-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
    width: 100px;
  }
}
