.main--film-card .note__sorting {
  display: none;
}

.main--film-card .description__play {
  padding-top: 32px;
  padding-bottom: 25px;
}

.main--film-card .play-text {
  margin-bottom: 27px;
}

.main--film-card .input-item {
  padding-top: 19px;
  padding-bottom: 19px;
}

.main--film-card .order-form {
  margin-top: 8px;
}

.main--film-card .radio-group {
  margin-bottom: 9px;
}

.main--film-card .note__title {
  padding-top: 0;
  margin-top: 44px;
}

.main--film-card .double__slider {
  margin-top: 27px;
}

.main--film-card .double__slide .rezult-item {
  min-height: 311px;
}

.main--film-card .double__slider .slick-arrow {
  top: -39px;
}

.main--film-card .double__slider .slick-dots {
  bottom: -43px;
}

.main--film-card .artist-note {
  padding-bottom: 63px;
}

.main--film-card .video {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .main--film-card .sort-rezult-button {
    display: none;
  }

  .main--film-card .similar__title {
    font-family: Roboto, sans-serif;
  }
}

@media screen and (max-width: 850px) {
  .main--film-card .sort-rezult-button {
    display: none;
  }

  .main--film-card .description__play {
    padding-top: 23px;
  }

  .main--film-card .play-text {
    margin-bottom: 16px;
  }

  .main--film-card .description__order {
    border-top: 1px solid #ebebeb;
  }

  .main--film-card .double__slide .rezult-item {
    min-height: 285px;
  }

  .main--film-card .recently-watched{
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 765px) {

  .main--film-card .video .wrapper,
  .main--film-card .recently-watched .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 550px) {
  .main--film-card .recently-watched .slick-arrow {
    top: 89px; 
  }

  .main--film-card .similar__title {
    font-family: Roboto,sans-serif;
  }
}

@media screen and (max-width: 500px) {
  .main--film-card .description__play {
    margin: 0 auto;
  }

  .main--film-card .player__controls{
    width: 275px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .main--film-card .progress {
    width: 195px;
  }

  .main--film-card .description__play {
    width: auto;
  }

  .main--film-card .play-text{
    width: 245px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 450px) {
  .main--film-card .breadcrumbs span{
    display: inline;
  }
  
  .main--film-card .double__slide .rezult-item {
    min-height: auto;
    margin-right: 0;
    margin-bottom: 20px;
    width: 265px;
  }
  
  .main--film-card .double__slide {
    width: auto;
  }

  .main--film-card .artist-note {
    padding-bottom: 3px;
  }

  .main--film-card .description__play {
    padding-bottom: 19px;
  }

  .main--film-card .play-text {
    padding-right: 40px;
    padding-left: 40px;
  }

  .main--film-card .description__order {
    padding-bottom: 15px;
  }

  .main--film-card .note__title {
    margin-top: 24px;
  }

  .main--film-card .sort-rezult-button {
    display: block;
    text-align: left;
  }

  .main--film-card .video {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .main--film-card .recently-watched {
    padding-bottom: 40px;
  }

  .main--film-card .recently-watched .slick-dots {
    bottom: -29px; 
  }

  .main--film-card .similar .wrapper {
    padding-bottom: 45px;
  }

  .main--film-card .recently-watched {
    padding-top: 9px;
  }
}