.main--film-card .note__sorting{
  display: none;
}

.main--film-card .description__play {
  padding-top: 32px;
  padding-bottom: 25px;
}

.main--film-card .play-text{
  margin-bottom: 27px;
}

.main--film-card .input-item {
  padding-top: 19px;
  padding-bottom: 19px;
}

.main--film-card  .order-form {
  margin-top: 8px;
}

.main--film-card .radio-group {
  margin-bottom: 9px;
}

.main--film-card .note__title {
  padding-top: 0;
  margin-top: 44px;
}

.main--film-card .double__slider {
  margin-top: 27px;
}

.main--film-card  .double__slider .slick-arrow{
  top: -39px;
}

.main--film-card  .double__slider .slick-dots{
  bottom: -43px;
}

.main--film-card .artist-note {
  padding-bottom: 63px;
}

.main--film-card .video {
  margin-bottom: 0;
}

