
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'AgoraSlabPro';
  src: url('../fonts/PFAgoraSlabPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('../fonts/PFAgoraSansPro-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

body{
  margin: 0;
}

input,
button{
  outline: none;
}

input {
  border-radius: 0;
}

.wrapper{
  margin: 0 auto;
  min-width: 768px;
  max-width: 1300px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

body .show{
  display: block
}

.wrapper--flex{
  display: flex;
  justify-content: space-between;
}

body .wrapper .ready-slider{
  overflow: inherit;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
}

.m-scroll-bar{
  max-height: 250px;
  overflow: hidden;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width: 6px;
  border-radius: 0;
  background-color: #f2547c;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar{
  background-color: #f2547c;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: #f1f1f1;
}

.mCSB_inside > .mCSB_container {
  margin-right: 14px;
}

@media screen and (max-width: 768px) {
  .wrapper{
    max-width: 786px;
    min-width: 320px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .wrapper--tablet{
    padding-left: 60px;
    padding-right: 60px;
  }
}
