.musicset-card-title {
  margin-bottom: 36px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000000;
}

.portal-nav--music-card {
  border-bottom: 1px solid #ebebeb;
}

.breadcrumbs--music-card {
  padding-top: 28px;
  padding-bottom: 8px;
}

.breadcrumbs--music-card span {
  white-space: nowrap;
}

.collection-description {
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid #ebebeb;
}

.description__img {
  display: block;
  margin: 0 auto;
}

.text-atention {
  padding-right: 50px;
  font-size: 14px;
  line-height: 18px;
  color: #f2547c;
}

.text-undetail {
  margin-top: 31px;
  margin-bottom: 21px;
  padding-right: 85px;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}

.text-undetail p {
  margin: 0;
}

.text-undetail a {
  color: #5897c4;
  text-decoration: none;
}

.text-undetail__instruments a:last-child {
  border-bottom: 1px dashed #5897c4;
}

.text-about {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.collection-description-content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  border-bottom: none;
}

.order-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.order-title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
}

.order-explanation {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #505050;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.description__text {
  width: 400px;
  margin-left: 6px;
  padding-top: 24px;

}

.description__order {
  box-sizing: border-box;
  width: 360px;
  padding-top: 9px;
  padding-left: 40px;
  padding-right: 34px;
  background-color: #f6f6f6;
}

.input-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e1e1e1;
}

.input-item:last-child {
  border-bottom: none;
}

.input-item .input-area {
  align-self: center;
}

.input-item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.input-item input+label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.input-item input+label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #acacac;
  border-radius: 50%;
  background: #ffffff;
}

.input-item input+label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #636363;
  opacity: 0;
  transition: .2s;
}

.input-item input:checked+label:before {
  border: 2px solid #f2547c;
}

.input-item input:checked+label:after {
  opacity: 1;
}

.input-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-old-price {
  font-size: 15px;
  text-decoration: line-through;
  color: #808080;
}

.input-new-price {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
}

.order-form-button {
  align-self: center;
  width: 230px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #8ebc07;
  cursor: pointer;
}

.order-form-profit {
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #f2547c;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.table-sub-row {
  display: flex;
}

.table-sub-row .cell span {
  display: none;
}

.table-row:last-child {
  border: none;
}

.collection-contents {
  font-family: Roboto, sans-serif;
}

.collection-contents__title {
  margin-top: 44px;
  margin-bottom: 31px;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}

.collection-contents__table {
  padding-bottom: 22px;
}

.table-row--head {
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 26px;
  color: #707070;
}

.table-row:not(.table-row--head) {
  padding-top: 30px;
}

.table-row>.table-cell:first-child {
  width: 51%;
}

.table-sub-row {
  width: 45%;
}

.table-sub-row .table-cell:first-child {
  width: 34%;
}

.table-sub-row .table-cell:nth-child(2) {
  width: 29%;
}

.table-sub-row .table-cell:nth-child(3) {
  width: 33%;
}

.table-row .cell {
  font-size: 16px;
}

.table-sub-row .cell div {
  display: inline;
  color: #808080;
  text-decoration: line-through;
  font-weight: 500;
}

.table-sub-row .cell:nth-child(2) {
  color: #f2547c;
  font-weight: 500;
}

.table-sub-row .cell:nth-child(3) {
  font-weight: 500;
  color: #000000;
}

.collection-item {
  display: flex;
  padding-bottom: 23px;
}

.collection-item p {
  margin: 0;
}

.item-img {
  height: 83px;
  margin-right: 20px;
  padding-top: 2px;
}

.item-description {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.item-description-name {
  font-size: 14px;
  color: #5897c4;
  text-decoration: none;
}

.item-description-instrument {
  margin-bottom: 9px;
  font-size: 14px;
  color: #6c6c6c;
}

.item-description-format {
  font-size: 14px;
  color: #000000;
}

.related-collections {
  padding-top: 14px;
  padding-bottom: 37px;
  font-family: Roboto, sans-serif;
  background-color: #363636;
}

.related-collections h3 {
  margin-bottom: 27px;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.related-slider .slider-item {
  width: 185px;
  margin-right: 160px;
  outline: none;
}

.related-slider img {
  margin-bottom: 16px;
}

.related-text {
  font-size: 14px;
  font-weight: 400;
  color: #5897c4;
}

.recently-watched {
  padding-top: 23px;
  padding-bottom: 115px;
  font-family: Roboto, sans-serif;
}

.recently-watched h3 {
  margin-bottom: 27px;
  font-weight: 400;
}

.recently-slider .recently-item {
  width: 185px;
  margin-right: 160px;
}

.related-slider .slick-prev,
.related-slider .slick-next,
.recently-slider .slick-prev,
.recently-slider .slick-next {
  width: 32px;
  height: 32px;
  top: -36px;
  border: 1px solid #cacaca;
  border-radius: 20px;
}

.related-slider .slick-next,
.recently-slider .slick-next {
  right: 0;
}

.related-slider .slick-prev,
.recently-slider .slick-prev {
  left: auto;
  right: 40px;
}

.related-slider .slick-prev:before,
.related-slider .slick-next:before,
.recently-slider .slick-prev:before,
.recently-slider .slick-next:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 8px;
  width: 14px;
  height: 11px;
}

.related-slider .slick-prev:before,
.recently-slider .slick-prev:before {
  background: url(../img/slick-grey-left.png) no-repeat;
}

.related-slider .slick-next:before,
.recently-slider .slick-next:before {
  background: url(../img/slick-grey-right.png) no-repeat;
}

.related-slider .slick-dots,
.recently-slider .slick-dots {
  left: -9px;
  width: 100px;
}

.related-slider .slick-dots li,
.recently-slider .slick-dots li {
  margin: 0 4px;
}

.recently-item {
  outline: none;
}

.recently-item p {
  margin: 0;
}

.recently-item .product-instrument {
  margin-bottom: 9px;
}


.recently-item .product-price {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.recently-item .product-price.free {
  color: #94c304;
}

.recently-img-wrapper img {
  margin-bottom: 16px;
}

@media screen and (max-width: 1205px) {
  .collection-description-content {
    flex-wrap: wrap;
    border: none;
  }

  .description__img-wrapper {
    width: 100%;
  }

  .description__order,
  .description__text {
    width: 45%;
  }

  .description__order {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .collection-contents.wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }

  .related-collections .wrapper,
  .recently-watched .wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 850px) {
  .collection-description {
    padding-top: 29px;
    border-top: 1px solid #ebebeb;
  }

  .collection-description .wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .musicset-card-title {
    margin-bottom: 32px;
  }

  .collection-description-content {
    flex-direction: column;
    align-items: center;
  }

  .description__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding-top: 19px;
  }

  .description__order {
    width: 100%;
    margin-top: 0;
    padding-left: 31%;
    padding-right: 31%;
    padding-bottom: 24px;
  }

  .text-atention {
    margin-top: 25px;
    margin-bottom: 0;
    padding: 30px 30% 30px 30%;
    text-align: center;
    align-self: center;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }

  .text-undetail {
    order: 1;
    width: 295px;
    margin-top: 0;
    padding-right: 0;
    align-self: center;
    text-align: center;
  }

  .text-about {
    order: 2;
    padding-right: 60px;
    padding-left: 60px;
  }

  .text-atention {
    order: 3;
  }

  .table-row--head {
    display: none;
  }

  .collection-contents__table {
    border-top: 1px solid #ebebeb;
  }

  .table-row {
    justify-content: space-between;
  }

  .table-sub-row {
    flex-direction: column;
    width: auto;
  }

  .table-sub-row .cell {
    position: relative;
  }

  .table-sub-row .cell {
    white-space: nowrap;
  }

  .table-sub-row .cell span {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #707070;
    text-decoration: none;
  }

  .collection-contents__title {
    margin-top: 25px;
  }

  .recently-watched {
    padding-bottom: 68px;
  }

  .recently-watched .slick-dots {
    bottom: -37px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper--musicset-card{
    border-top: 1px solid #ebebeb;
  }
}

@media screen and (max-width: 700px) {
  .description__order {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (max-width: 550px) {

  .breadcrumbs--music-card span {
    display: block;
    margin-top: 9px;
  }

  .musicset-card-title {
    margin-bottom: 23px;
  }

  .description__img {
    width: 272px;
    height: 320px;
  }

  .description__order {
    padding-left: 23px;
    padding-right: 23px;
  }

  .text-undetail{
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
  }

  .text-undetail p:nth-child(2){
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-about{
    text-align: center;
    padding-right: 43px;
    padding-left: 43px;
  }

  .text-atention {
    padding: 30px 25px 30px 25px;
  }

  .table-row {
    flex-direction: column;
  }

  .table-sub-row {
    padding-left: 110px;
  }

  .table-row>.table-cell:first-child {
    width: 100%;
  }

  .related-slider .slick-list,
  .recently-slider .slick-list {
    width: 185px;
    margin: 0 auto;
  }

  .collection-contents.wrapper {
    padding-right: 30px;
    padding-left: 24px;
  }

  .table-row:not(.table-row--head) {
    padding-bottom: 26px;
  }

  .collection-item {
    padding-bottom: 16px;
  }

  .table-sub-row .cell span {
    line-height: 23px;
  }

  .collection-contents__table {
    padding-bottom: 0;
  }

  .related-slider .slick-prev,
  .recently-slider .slick-prev,
  .related-slider .slick-next,
  .recently-slider .slick-next {
    top: 87px;
  }

  .related-slider .slick-prev{
    left: -40px;
  }

  .recently-slider .slick-prev {
    left: 0;
  }

  .related-slider .slick-next {
    right: -40px;
  }

  .recently-slider .slick-next {
    right: 0;
  }

  .related-slider .slick-dots,
  .recently-slider .slick-dots {
    left: 50%;
    transform: translateX(-50%);
  }

  .recently-watched .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }

  .recently-item .product-instrument {
    display: none;
  }

  .recently-watched {
    padding-bottom: 41px;
  }
}