.wrapper .choose-background{
  background-color: #f1f1f1;
}

.rezult-item{
  display: flex;
  float: left;
  flex-direction: column;
  margin-bottom: 87px;
  margin-right: calc((100% - 740px)/3);
}

.rezult-item:nth-last-child(-n+4){
  margin-bottom: 0;
}

.rezult-item:nth-child(4n){
  margin-right: 0;
}

.rezult-img-wrapper{
  margin-bottom: 15px;
}

.rezult-description{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5897c4;
  text-decoration: none;
}

.rezult-description:hover{
  color: #f2547c;
}

.top-description h2,
.bottom-page-description h2{
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

.top-description{
  padding-top: 28px;
  padding-bottom: 23px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.breadcrumbs{
  font-family: HelveticaNeueCyrRoman, sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.top-description h2{
  margin-top: 28px;
}

.breadcrumbs a{
  position: relative;
  padding-right: 16px;
  color: #5897c4;
  text-decoration: none;
}

.breadcrumbs a:after{
  position: absolute;
  content: "→";
  right: 0px;
  color: #252525;
}

.breadcrumbs span{
  color: #252525;
}

.top-description-text{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 21px;
  color: #333333;
}

.top-description-text-more{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #5897c4;
}

.sort{
  padding-top: 30px;
  padding-bottom: 30px;
}


.sort .wrapper{
  align-items: center;
  flex-wrap: wrap;
}

.search-area{
  position: relative;
  display: flex;
}

.search-area input,
.search-area button,
.selection-button,
.range-price-area,
.checkbox-area,
.sort-rezult-button{
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  outline: none;
}

.search-area,
.selection-area,
.range-price-area,
.checkbox-area{
  margin-right: 5px;
}

.search-area input{
  width: 310px;
  padding: 6px 13px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #191919;
}

.search-area input::placeholder{
  color: #969696;
}


.sort .search-hint li{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: 400;
}

.sort .search-hint li:hover{
  background-color: transparent;
  color: #f25d82;
}

.search-area button{
  width: 47px;
  background-color: #f7f7f7;
  background: #f7f7f7 url('../img/search-icon-pink.png') center no-repeat;
  border-left: none;
}

.selection-area{
  position: relative;
}

.selection-button{
  position: relative;
  width: 120px;
  padding-left: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #191919;
  background: #ffffff;
}

.selection-button:after{
  position: absolute;
  content: "";
  width: 11px;
  height: 5px;
  top: 17px;
  right: 14px;
  background: url('../img/select-arrow.png') no-repeat;
}

.selection-list li{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.selection-list li:hover{
  background: transparent;
  color: #f25d82;
}

.search-hint .picked{
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f2547c;
  background-color: #f1f1f1;
}

.sort .search-hint .picked:hover{
  background-color: #f1f1f1;
}

.range-price-area{
  display: flex;
  justify-content: space-between;
  width: 503px;
  padding-right: 15px;
  padding-left: 15px;
}

.range-price-description{
  white-space: nowrap;
}

.range-control-wrapper{
  display: flex;
  width: 398px;
  justify-content: space-between;
  align-items: center;
}

.range-control{
  width: 76px;
  height: 26px;
  padding-left: 9px;
  box-sizing: border-box;
  border: 1px solid #cacaca;
}

.range-price-area .slider-range{
  width: 215px;
  height: 7px;
  background-color: #e2e2e2;
  border: none;
  border-radius: 50px;
}

.ui-slider-range{
  background-color: #f25d82;
  border: none;
}

.ui-slider .ui-slider-handle{
  border: none;
  background: url('../img/ui-slider-handle.png') 2px 1px no-repeat;
  outline: none;
  cursor: pointer;
}

.checkbox-area,
.range-control,
.range-price-description{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

.checkbox-area{
  position: relative;
  width: 193px;
  padding-left: 14px;
  margin-right: 0px;
  cursor: pointer;
}

.checkbox-area span:before{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 8px;
  right: 14px;
  border: 1px solid #cacaca;
}

.checkbox-area span:after{
  display: none;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 11px;
  right: 17px;
  font-size: 20px;
  border: 1px solid #cacaca;
  background-color: #f2547c;
  border-radius: 2px;
}

.checkbox-area input:checked + span:after{
  display: block;
}

.checkbox-area input{
  display: none;
}

.sort-rezult{
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.sort-rezult .wrapper{
  align-items: center;
}

.sort-rezult-number{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #191919;
  white-space: nowrap;
  margin-right: 55px;
}

.sort-rezult-keys{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.search-rezult-item{
  position: relative;
  margin-right: 30px;
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search-rezult-item span{
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 9px;
  height: 9px;
  background: #ffffff url(../img/search-rezult-cross.png) no-repeat;
  cursor: pointer;
}

.sort-rezult-button-wrapper{
  position: relative;
}

.sort-rezult-button{
  position: relative;
  width: 192px;
  padding-left: 14px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}

.sort-rezult-button:after{
  position: absolute;
  content: "";
  width: 11px;
  height: 15px;
  top: 11px;
  right: 14px;
  background: url('../img/double-arrow.png') no-repeat;
}

.sort-rezult-list li{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.sort-rezult-list li:hover{
  background-color: transparent;
  color: #f25d82;
}

.rezult-area{
  margin-bottom: 38px;
  padding-top: 40px;
}

.rezult-area:after,
.musician-card-wrapper:after{
  content: "";
  display: block;
  clear: both;
}

.pagination{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.pagination .wrapper{
  display: flex;
  align-items: center;
}

.pagination .page-link{
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #5897c4; 
}

.pagination .curent-page{
  padding-left: 0;
  color: #f2547c;
}

.pagination .page-link:first-child{
  padding-left: 0;
}

.pagination .prev-page-link,
.pagination .next-page-link{
  width: 7px;
  height: 11px;
  background: #ffffff url('../img/breadcrumbs-pink-arrow.png') center no-repeat;
}

.pagination .prev-page-link{
  display: none;
  transform: rotate(180deg);
}

.pagination .next-page-link{
  display: block;
}

.bottom-page-description{
  margin-top: 59px;
  margin-bottom: 116px;
}

.bottom-page-description h2{
  margin-bottom: 33px;
}

.bottom-page-description p{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}

@media screen and (max-width: 1285px) {
  .search-area,
  .selection-area,
  .range-price-area,
  .only-free-checkbox {
    margin-bottom: 10px;
  }

  .sort .wrapper{
    justify-content: flex-start;
  }

  .search-area,
  .selection-area,
  .range-price-area,
  .only-free-checkbox{
  margin-right: 15px;
  }
}

@media screen and (max-width: 990px) {
  .rezult-item,
  .rezult-item:nth-child(4n){
    margin-right: calc((100% - 555px)/2);
  }

  .rezult-item:nth-child(3n){
    margin-right: 0;
  }

  .rezult-area {
    padding-top: 30px;
  }

  .rezult-item,
  .rezult-item:nth-last-child(-n+4){
    margin-bottom: 59px;
  }

  .rezult-item:nth-last-child(1){
    margin-bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  .sort .wrapper{
    flex-direction: column;
  }

  .search-area,
  .selection-area,
  .selection-button,
  .range-price-area,
  .checkbox-area{
    width: 100%;
  }

  .search-area,
  .selection-area,
  .range-price-area,
  .checkbox-area{
    width: 100%;
    margin-bottom: 20px;
  }

  .search-area .search-input{
    width: calc(100% - 47px);
  }

  .checkbox-area {
    margin-right: auto;
    margin-bottom: 0;
  }

  .top-description {
    padding-top: 23px;
  }

  .sort-rezult {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .bottom-page-description {
    margin-top: 29px;
    margin-bottom: 75px;
  }

  .bottom-page-description h2 {
    margin-bottom: 27px;
  }

  .bottom-page-description p {
    line-height: 24px;
    margin-bottom: 26px;
  }

  .bottom-page-description p:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 685px) {
  .rezult-item,
  .rezult-item:nth-child(3n){
    margin-right: calc(100% - 370px);
  }

  .rezult-item:nth-child(2n){
    margin-right: 0;
  }

  .rezult-item,
  .rezult-item:nth-last-child(1){
    margin-bottom: 59px;
  }

  .rezult-item:nth-last-child(-n + 2){
    margin-bottom: 0;
  }

  .sort-rezult .wrapper {
    flex-direction: column;
  }
  
  .sort-rezult-number{
    padding-bottom: 10px
  }

  .sort-rezult-button-wrapper{
    padding-top: 5px;
  }

  .sort {
    padding-bottom: 20px;
  }

  .sort-rezult-number {
    margin-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .range-price-area{
    flex-direction: column;
    height: 85px;
    padding: 15px 28px 18px 15px;
  }
}

@media screen and (max-width: 510px) {
  .top-description-text{
    height: 95px;
    overflow: hidden;
  }

  .range-price-area{
    height: 118px;
  }

  .range-control-wrapper{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 216px;
  } 

  .range-price-description {
    align-self: flex-start;
  }

  .slider-range{
    margin-top: 19px;
  }

  .range-control--max{
    position: absolute;
    top: 0;
    right: 1px;
  }

  .sort-rezult .wrapper{
    flex-direction: column;
  }

  .sort-rezult-number{
    margin-bottom: 15px;
  }

  .sort-rezult-button-wrapper,
  .sort-rezult-button{
    width: 100%;
  }

  .rezult-img-wrapper img{
    width: 102px;
    height: 95px;
    padding-top: 3px;
  }

  .rezult-item,
  .rezult-item:nth-child(2n){
    margin-right: calc((100% - 308px)/2);
  }

  .rezult-item:nth-child(3n){
    margin-right: 0;
  }
}

@media screen and (max-width: 430px) {
  .rezult-area {
    padding-top: 20px;
  }

  .rezult-item,
  .rezult-item:nth-last-child(-n+4){
    flex-direction: row;
    margin-bottom: 27px;
  }

  .rezult-item:last-child{
    margin-bottom: 0;
  }

  .rezult-area {
    margin-bottom: 16px;
  }

  .rezult-img-wrapper{
    margin-bottom: 0;
  }

  .musician-card-wrapper{
    margin: -27px 0 0 -160px;
  }

  .rezult-description{
    margin-left: 24px;
  }

  .top-description-text {
    margin-bottom: 12px;
  }

  .sort {
    padding-top: 20px;
  }

  .sort-rezult {
    padding-top: 14px;
  }
} 


