.order{
  padding-top: 32px;
  background: #e5ebf0 url('../img/order-background.jpg') top 28px right no-repeat;
}

.order h1{
  margin-top: 51px;
  margin-bottom: 58px;
  font-family: Roboto, sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 52px;
  color: #464646;
}

.order__container{
  display: flex;
  flex-direction: row;
}

.order__description{
  width: 615px;
  box-sizing: border-box;
  padding-left: 69px;
  padding-right: 128px;
  padding-bottom: 78px;
  background-color: #ffffff;
}

.description__title{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.description__title span{
  color: #5897c4;
  border-bottom: 1px dotted #5897c4;
}

.description__list-title{
  margin-top: 43px;
  margin-bottom: 1px;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
}

.description__list li{
  position: relative;
  padding-left: 19px;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  list-style-type: none;
}

.description__list{
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}

.description__list li:before{
  position: absolute;
  content: "";
  width: 11px;
  height: 1px;
  background-color: #f2547c;
  top: 18px;
  left: 0;
  margin-right: 20px;
}

.description__price{
  font-family: Roboto,sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.description__price span{
  color: #f2547c;
}

.order__form{
  width: 610px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 105px;
  padding-left: 105px;
  background-color: #464646;

  & form{
    display: flex;
    flex-direction: column;
  }

  & form label:first-child{
    margin-top: 0;
  }

  & label{
    position: relative;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
  }

  & .necessarily{
    color: #d05171;
  }

  & input[type=text]{
    padding: 11px 13px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #5c5c5c;
    box-sizing: border-box;
    border: 3px solid #ffffff;
  }

  & input[type=text]:focus{
    border: 3px solid #7d7d7d;
  }

  & input[type=text].incorrect{
    border: 3px solid #f2547c;
  }

  & button{
    align-self: center;
    width: 230px;
    margin-top: 33px;
    margin-bottom: 21px;
    padding: 12px 70px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #c0c0c0;
    background-color: #e1e1e1;
    border: none;
    border-radius: 2px;

    &.active{
      background-color: #f2547c;
      color: #ffffff;
      cursor: pointer;
    }
  }

  & .order__form-checkbox p{
    position: relative;
    margin: 0;
    padding-left: 53px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
  }

  & .order__form-checkbox p:before{
    position: absolute;
    content: "";
    top: 5px;
    left: 17px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 2px solid #8b8b8b;
    box-sizing: border-box;
  }

  & .order__form-checkbox p:after{
    display: none;
    position: absolute;
    content: "";
    top: 8px;
    left: 20px;
    width: 12px;
    height: 12px;
    background-color: #f2547c;
  }

  &-checkbox input:checked + p:after{
    display: block;
  }

  &-checkbox span{
    color: #40a1c5;
    border-bottom: 1px solid #40a1c5;
  }
  
  & input[type=checkbox]{
    display: none;
  }
}

.advantages{
  position: relative;
  padding-top: 114px;
  padding-bottom: 109px;
  background-color: #f2f2f2;
  overflow: hidden;
  
  &:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 1171px;
    width: 732px;
    height: 438px;
    background: #ffffff url('../img/notes.png') right 0 bottom 0 no-repeat;
    box-shadow: 0px 10px 46px 0px rgba(142, 151, 159, 0.58);
  }

  &__item{
    position: relative;
    margin-bottom: 91px;
    padding-left: 115px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }

  &__item:last-child{
    margin-bottom: 0;
  }

  &__item:after{
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    top: 17px;
    left: 84px;
    background-color: #f2547c;
  }

  &__item:before{
    position: absolute;
    content: "";
    width: 62px;
    height: 63px;
    top: -15px;
    left: 0px;
  }

  &__item:nth-child(1):before{
    background: url('../img/order-advantage_1.png') no-repeat;
  }

  &__item:nth-child(2):before{
    background: url('../img/order-advantage_2.png') no-repeat;
  }

  &__item:nth-child(3):before{
    top: -7px;
    background: url('../img/order-advantage_3.png') no-repeat;
  }
}

.delivery{
  padding-top: 25px;
  padding-bottom: 35px;
  text-align: center;
  color: #ffffff;
  background-color: #3a466e;
}

.delivery h3{
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.delivery p{
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 1400px){
  .order{
    background-image: none;
  }
}

@media screen and (max-width: 1024px){
  .order{
    padding-top: 0;
  }

  .order .wrapper{
    position: relative;
  }

  .order .wrapper--order:after{
    position: absolute;
    z-index: 1;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
  }

  .wrapper--breadcrumbs{
    padding-top: 33px;
    padding-bottom: 30px;
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
  }

  .order__container{
    position: relative;
    z-index: 2;
    flex-direction: column;
  }
  
  .order__description, 
  .order__form{
    width: 100%;
  }

  .order h1{
    margin-top: 31px;
    margin-bottom: 28px;
    font-size: 41px;
  }

  .order__form{
    padding-bottom: 41px;
  }

  .order__description {
    padding-bottom: 39px;
  }

  .advantages {
    padding-top: 65px;
    padding-bottom: 59px;
    background-color: #ffffff;
  }

  .advantages__item {
    margin-bottom: 55px;
    margin-left: 38px;
  }
}

@media screen and (max-width: 650px){

  .order__description {
    padding-bottom: 23px;
  }

  .order h1{
    margin-top: 22px;
    margin-bottom: 21px;
    font-size: 26px;
    line-height: 36px;
  }

  .description__title,
  .description__price,
  .delivery h3 {
    font-size: 21px;
  }

  .description__title{
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .description__list-title,
  .description__list li,
  .delivery p {
    font-size: 16px;
  }

  .description__list-title {
    margin-top: 0;
  }

  .description__list {
    margin-bottom: 23px;
  }

  .advantages__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px){
  .wrapper--breadcrumbs {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .order .wrapper--order:after{
    display: none;
  }

  .wrapper--order{
    padding: 0;
  }

  .order h1{
    padding-left: 25px;
    padding-right: 50px;
  }

  .order__description{
    padding-left: 25px;
    padding-right: 25px;
  }

  .order__form{
    padding: 20px 25px 30px 25px;
  }

  .order__form .order__form-checkbox p{
    padding-left: 75px;
    padding-right: 10px;
  }

  .order__form .order__form-checkbox p:before{
    left: 38px;
  }

  .order__form .order__form-checkbox p:after {
    left: 41px;
  }

  .order__form button {
    margin-bottom: 18px;
  }

  .advantages__item{
    margin-left: 0;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 26px;
  }

  .advantages__item:after {
    display: none;
  }

  .advantages__item:before {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  .advantages__item:last-child:before {
    top: -25px;
  }

  .delivery{
    padding-top: 22px;
    padding-bottom: 17px;
  }

  .delivery h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .delivery p {
    margin-top: 0;
    line-height: 26px;
  }
}