.delivery{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #3a466e;
}

.delivery h3{
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.delivery p{
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}