
.img-wrapper--product{
  position: relative;
  padding: 31px 33px;
  border-right: 1px solid #ebebeb;
}

.img-wrapper--product img{
  width: 255px;
  height: 317px;
}

.description__play{
  display: flex;
  flex-direction: column;
  padding: 43px 56px;
}

.description__play a{
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  color: #5897c4;
}

.play-text{
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.play-text span{
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}


.play-link button{
  width: 128px;
  box-sizing: border-box;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 26px;
  color: #5897c4;
  border: 1px solid #d7d7d7;
  background-color: transparent;
  cursor: pointer;
}

.play-link button:first-child{
  margin-right: 18px;
}

// PLAYER
.player{
  padding: 10px;
  padding-left: 0;
}

.player__controls{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 340px;
  margin-top: 27px;
}

.toggle-play{
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: #f2547c;
}

.toggle-play:before{
  position: absolute;
  content: "";
  top: 8px;
  left: 11px;
  width: 9px;
  height: 11px;
  background-image: url('../img/player-toggle.png');
}

.toggle-play:after{
  position: absolute;
  content: "";
}

.toggle-play.pause:before{
  left: 8px;
  width: 13px;
  background-image: none;
  background-color: #ffffff;
}

.toggle-play.pause:after{
  top: 8px;
  left: 12px;
  width: 5px;
  height: 11px;
  background-image: none;
  background-color: #f2547c;
}

.progress{
  position: relative;
  width: 264px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #d7d7d7;
}

.progress__filled{
  width: 0;
  height: 100%;
  background-color: #959595;
}

.player__button{
  cursor: pointer;
}

.progress__time{
  position: absolute;
  top: -23px;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.time-accum{
  left: 0;
}

.time-residue{
  right: 0;
}

.toggle-volume{
  position: relative;
  width: 18px;
  height: 18px;
  background-image: url('../img/volume-toggle.png');
}

.toggle-volume:after{
  display: none;
  position: absolute;
  content: "";
  top: -3px;
  left: 7px;
  width: 2px;
  height: 25px;
  transform: rotate(-45deg);
  background-color: red;
}

.toggle-volume.volume-off:after{
  display: block;
}
// end PLAYER

.collection-description--product .description__order{
  border-left: 1px solid #ebebeb;
}

.link-to-basket{
  background-color: transparent;
  color: #5c5c5c;
}

.video{
  margin-bottom: 45px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}

.video .wrapper{
  padding-left: 170px;
  padding-right: 170px;
}

.video .video-container{
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lyrics{
  font-family: Roboto,sans-serif;
  text-align: center;
}

.lyrics h3{
  font-size: 21px;
  font-weight: 400;
  color: #000000;
}

.lyrics pre{ 
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #5d5d5d;
  text-align: center;
}

.recently-watched--product-card{
  padding-bottom: 59px;
}

@media screen and (max-width: 1205px){
  .description__play {
    padding-right: 0;
    padding-left: 0;
  }

  .img-wrapper--product {
    border: none;
  }
  
}

@media screen and (max-width: 900px){
  .description__play {
    width: 345px;
    padding: 24px 0 28px 0;
  }

  .description__play .play-text {
    padding-right: 50px;
    padding-left: 50px;
  }

  .video .wrapper{
    padding-right: 60px;
    padding-left: 60px;
  }

  .description-content--product{
    flex-direction: column;
    align-items: center;
  }

  .img-wrapper--product {
    padding: 0;
    padding-bottom: 35px;
    border-bottom: 1px solid #ebebeb;
  }

  .player {
    padding-top: 0;
  }

  .play-link{
    text-align: center;
  }

  .collection-description--product .description__order {
    border-top: 1px solid #ebebeb;
    border-left: none;
  }

  .main--product-card .input-item{
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .main--product-card .order-form{
    margin-top: -5px;
  }

  .main--product-card .radio-group{
    margin-bottom: 6px;
  }

  .main--product-card .description__order {
    padding-bottom: 15px;
  }

  .main--product-card .sort-rezult-button {
    display: none;
  }

  .recently-watched--product-card {
    padding-bottom: 47px;
  }
}


@media screen and (max-width: 768px){
  
  .main--product-card .wrapper--recently{
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 500px){
  .main--product-card .breadcrumbs--music-card span {
    display: inline; 
  }

  .main--product-card h1{
    padding-right: 35px;
  }
  
  .main--product-card .player__controls {
    width: 275px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .main--product-card .progress{
    width: 195px;
  }

  .main--product-card .lyrics pre {
    white-space: pre-wrap;
  }

  .description-content--product {
    align-items: flex-start;
  }

  .main--product-card .description__play {
    padding: 24px 0 23px 0;
  }

  .main--product-card .note__title {
    padding-top: 3px;
  }

  .sort-rezult-button {
    display: none;
  }

  .main--product-card .sort-rezult-button {
    display: block;
    text-align: left;
  }

  .main--product-card .video .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }

  .main--product-card .video {
    padding-top: 29px;
  }

  .main--product-card .description__play {
    width: auto;
  }

  .main--product-card .play-text {
    padding-right: 30px;
  }
}